<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}">
{% include head.html %}
<body class="layout-{{ page.layout | default: 'none' }}">
  <a class="skip-link" href="#main">Skip to content</a>
  {% include header.html %}
  <main id="main" tabindex="-1">
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/main.js' | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {%- for script in page.scripts %}
  <script src="{{ script | relative_url }}?v={{ site.time | date: '%s' }}" defer></script>
  {%- endfor %}
</body>
</html>
